<h1>The <%= @test_passage.test.title %> test was completed.</h1>

<p class="<%= @test_passage.success? ? 'success' : 'failure' %>"><%= result_message(@test_passage) %></p>

<p><%= link_to 'Back to tests', tests_path %></p>
