<h1>The <%= @test_passage.test.title %> test was completed.</h1>

<p class="<%= @test_passage.success? ? 'success_text' : 'failed_text' %>"><%= @test_passage.result_message %></p>

<p><%= link_to 'Back to tests', tests_path %></p>
