<footer>
  <hr>
  <p><%= current_year %>, Ivan Shiryaev.</p>
  <p><%= link_to 'TestGuru', github_url('i-shiryaev', 'test-guru') %> project for <%= link_to 'Thinknetika', 'http://thinknetica.com/' %> school.</p>
</footer>
